# Raw, intermediate, and final data folders
Data/

# Data files (large or unnecessary)
*.csv
*.csv.gz
*.npy
*.xlsx
*.pptx
*.gz
*.h5
*.pkl
*.parquet
*.toc
*.aux
*.out
LogisticRegression_production_model.joblib

# Notebook outputs and cache
.ipynb_checkpoints/

# Temporary and system files
*.pyc
__pycache__/

# Log files
*.log

# Local configuration
.env