# Raw, intermediate, and final data folders
Data/
JupyterOutputs/**/Raw/
JupyterOutputs/**/Processed/
JupyterOutputs/**/PrePreProcessed/
JupyterOutputs/**/Merged/
JupyterOutputs/**/DataIntegrated/
JupyterOutputs/**/FeatureEngineered/
JupyterOutputs/**/Final/

# Data files (large or unnecessary)
*.csv
*.csv.gz
*.npy
*.joblib
*.xlsx
*.pdf
*.pptx
*.json
*.gz
*.h5
*.parquet

# Notebook outputs and cache
JupyterOutputs/**
.ipynb_checkpoints/
*.html

# Temporary and system files
*.pyc
__pycache__/

# Log files
*.log

# Local configuration
.env